streamlit
psycopg2-binary
sqlalchemy
feedparser
schedule
pandas
python-dotenv
beautifulsoup4
scikit-learn
joblib
requests
openai
google-generativeai
streamlit-autorefresh
bcrypt==4.1.2
streamlit-cookies-controller==0.0.3
aiohttp
aiofiles
shapely
fastapi
uvicorn
rapidfuzz